#image{
	width: 100px;
	font-weight: 400;

	height: 40px;
	user-select: none;
	text-decoration: wavy line-through underline;
	font-style: italic;
	font-size: x-large;
	color: white;
	border: #343a40 2px solid;
	background-color: #343a40;
}
#user-input{
	width: auto;
	height: 40px;
}
input{
	border: 3px #343a40 solid;
}
.inline{
	display: inline-block;
  margin-top: 10px;
  padding-bottom: 0px;
  margin-left: 10px;
	margin-right: 10px;
  vertical-align: bottom;
}
.btn{
	margin-top: 20px;
}